<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>소개</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>안녕하세요.<br>
          <b>게임 프로그래머</b> 지망생 <b>이지헌</b> 입니다.<br>
          제 목표는 'No'라 말하지 않는 프로그래머입니다.
        </p>
        <!--
        <ul class="list-inline">
          {% for skill in site.skills %}
          <li>
            {{ skill.show }}
          </li>
          {% endfor %}
        </ul>
        <a href="https://certi.programmers.co.kr/result/share/5717">
          <img src="https://img.shields.io/badge/PCCP_C++-Lv.5-222222?style=for-the-badge&labelColor=8A2BE2"
            alt="PCCP C++ Lv.5"></a>
        -->
        <ul class="list-inline">
          {% for network in site.social %}
          <li>
            <a href="{{ network.url }}" class="btn-social btn-outline"><i
                class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="text-center">
        <a href="/이력서.pdf" class="btn-social"
          style="/* height:40px; */font-size: 16px;font-weight: 500;/* line-height: 37px; */">📄 이력서</a>
      </div>
      <!--
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
	  -->
    </div>
  </div>
</section>