<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.project-name }}</h2>
            <hr class="star-primary">
            {% if post.html %}
            {{ post.html }}
            <br><br>
            {% else %}
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            <!--  -->
            {% if post.category %}
            <h4>{{ post.category }}</h4>
            {% endif %}
            {% if post.genre %}
            <h4>장르: {{ post.genre }}</h4>
            {% endif %}
            {% if post.tool %}
            <h4>개발 도구: {{ post.tool }}</h4>
            {% endif %}
            {% if post.role %}
            <h4>담당: {{ post.role }}</h4>
            {% endif %}
            <br><br>
            {% if post.desc %}
            <h2>게임 소개</h2>
            <hr class="star-primary">
            <p>{{ post.desc }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
            </ul>
            <ul class="list-inline item-details">

              {% if post.github %}
              <a href="{{ post.github }}">
                <button class="btn btn-default">
                  <i class="fa-brands fa-fw fa-github"></i> Show In Github
                </button>
              </a>
              {% endif %}
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                Close</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}