<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.itch %}
            post.itch
            Super Pong Bros by Easy-H</a></iframe>
            {% else %}
            {% if post.video %}
            <video src="/video/{{ post.video }}" class="img-responsive img-centered" controls>
              이 브라우저에서 지원하지 않는 영상입니다.
            </video>
            <br><br>
            {% else %}
            {% if post.screenshot %}
            <!--https://www.w3schools.com/howto/howto_js_slideshow.asp-->
            <!-- Slideshow container -->
            <!--<script src="image_slide.js"></script>-->
            <div class="slideshow-container">
              <a class="prev" onclick="plusSlides(-1)" style="left:0px">&#10094;</a>
              <!-- Full-width images with number and caption text -->
              {% for shot in post.screenshot %}
                <div class="mySlides">
                  <img src="img/portfolio/{{ shot }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                </div>
              {% endfor %}
              <!-- Next and previous buttons -->
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <script>
              let slideIndex = 1;
              showSlides(slideIndex);
              
              // Next/previous controls
              function plusSlides(n) {
                showSlides(slideIndex += n);
              }
              
              // Thumbnail image controls
              function currentSlide(n) {
                showSlides(slideIndex = n);
              }
              
              function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
              }
            </script>
            <br>
            {% else %}
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% endif %}
            {% endif %}
            {% if post.description %}
            <h2>게임 소개</h2>
            <hr class="star-primary">
            <p>{{ post.description }}</p>
            <br><br>
            {% endif %}
            {% if post.role %}
            <h2>역할</h2>
            <hr class="star-primary">
            <p>{{ post.role }}</p>
            <br><br>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Category:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <ul class="list-inline item-details">

              {% if post.github %}
              <a href="{{post.github}}">
                <button class="btn btn-default">
                  <i class="fa-brands fa-fw fa-github"></i> Show In Github
                </button>
              </a>
              {% endif %}
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                Close</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}