.blog-home-row {
    padding: 10px;
    max-width: 400px;
    margin: auto;
    border-bottom: 4px dotted #{{ site.color.secondary }};
}

li.blog-tag {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
    font-weight: 1000;
    color: white;
    border-radius: 20px;
    background: #{{ site.color.secondary }};
}

.blog-home-row h3 {
    margin: 15px 0px;

}

.blog-home-row h3:before {
    display: none;

}

.blog-home-row h3:after {
    display: none;

}