#nav-icon-box {
    width: 40px;
    height: 40px;
    border: 3px outset #6799fa;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px;
}
#nav-icon-img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 0px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 0px;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-nav>.active>a {
    background-color: #{{ site.color.secondary-dark }} !important;
}