.post {
    margin: auto;
    max-width: 700px;
}

.post p {
    margin-bottom: 20px;
    word-break: keep-all;
    font-size: 16px;
}

.post img {
    width: 100%;

}

.post object {
    display: block;
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
}

.post iframe {
    display: block;
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%);
}

.post ul {
    font-size: 16px;
    list-style-type: square;
    list-style-position: inside;
}

.post li > ul {
    margin-left: 30px;
}

.post ul > li::marker {
    content: "\f005\00a0\00a0";
    font-family: 'FontAwesome';
    font-size: 12px;

}

.post ul > li > ul > li::marker {
    content: "\f0c6\00a0\00a0";
    font-family: 'FontAwesome';
    font-size: 15px;
    
}

.post h1 {
    font-size: 32px;
    margin: 10px 0;
}

.post h3 {
    font-size: 26px;
    margin: 10px 0;
}

.post h1:before, .post h2:before, .post h3:before {
    content: "\f053     ";
    display: initial;
    margin-left: initial;
    position: initial;
    font-size: 100%;
    font-weight: 600;
    background: initial;
    font-family: 'FontAwesome'

}
.post h1:after, .post h2:after, .post h3:after {
    content: " \f054";
    display: initial;
    margin-left: initial;
    position: initial;
    font-size: 100%;
    font-weight: 600;

}
.post .left {
    float: left;
    padding: 0 25px;
    width: 50%;
    margin: 0 auto;
}

.post .right {
    float: right;
    padding: 0 25px;
    padding-bottom: 75px;
    width: 50%;
    margin: 0 auto;
}

.card-content h2::before {
    display: none;
}

.card-content h2::after {
    display: none;
}

.card-content h2 {
    margin-bottom: 25px;
}

.card-content h3::before {
    display: none;
}

.card-content h3::after {
    display: none;
}

.splide__pagination {
    bottom: -48px;
}

.splide__arrow--prev {
    left: -3em;
}

.splide__arrow--next {
    right: -3em;
}

ul.splide__list > li::marker {
    content: "";
}

@media screen and (max-width: 767px) {
    .post .left{
        width: auto;
        max-width: 400px;
        float: none;
    }
    .post .right{
        width: auto;
        max-width: 400px;
        float:none;
    }
}
