---
layout: default
title: 이지헌의 활동
---
{% include about.html %}
<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>작업물</h2>
    </div>
  </div>
  <div class="portfolio-flex-row">
    {% for post in site.categories.portfolio %}
    <div class="portfolio-flex-item portfolio-item">
      <a href="{{ post.url }}" class="portfolio-link">
        <div class="portfolio-inner">
          <div class="box-modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-1.5x"></i>
              </div>
            </div>
            <img src="{{ site.url }}/img/portfolio/{{ post.thumbnail }}" class="img-modal" alt="image-alt">
          </div>
        </div>
        <p class="portfolio-txt">{{ post.title }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>교내 활동</h2>
    </div>
  </div>
  <div class="text-center">
    <p>🏅 2019년 영남대학교 소프트웨어 경진대회 우수상</p>
    <p>🏅 2022년 영남대학교 오픈소스 SW개발 경진대회 알고리즘 부문 대상</p>
    <p>🧑‍🏫 2023년 2학기 전공 강의지원 프로그램(자료구조)</p>
    <p>🧑‍🏫 2024년 1학기 전공 강의지원 프로그램(알고리즘)</p>
    <p>🏅 2024년 영남대학교 오픈소스 SW개발 경진대회 알고리즘 부문 최우수상</p>
  </div>
</section>